@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #1D1D1D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1D1D;
    --foreground: #FFFFFF;
  }
}

@layer utilities {
  .bg-primary {
    background-color: #FFFFFF; 
  }
  .bg-secondary {
    background-color: #1D1D1D; 
  }

  
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} 


